<!DOCTYPE html>
<html lang="en">
    {{>head}}
  <body>
    <h1>Skate Park</h1> 
    <div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td><div style="background-image:url('{{foto}}');"></div></td>
            <td>{{nombre}} </td>
            <td>{{anos_experiencia}} </td>
            <td>{{especialidad}} </td>
            <td><input type="checkbox" data-id={{id}} name="" {{#if estado}}checked{{/if}} /></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
          <form  method="post" action="admin/update">
            <button type="submit">guardar cambios</button>
          </form>
    </div>
    <script>
       const listcheckbox = [];
        const form = document.querySelector("form");
        const formData = new FormData(form);

        // Escuchar el cambio de cada checkbox
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
          checkbox.addEventListener('change', (event) => { 
            console.log(event.target)
            const checkbox = event.target;
            const id = checkbox.dataset.id; // ID del participante
            const estado = checkbox.checked; // Si está marcado o no

            // Actualizar o añadir el estado del checkbox en la lista
            const index = listcheckbox.findIndex(item => item.id === id);
            if (index > -1) {
              listcheckbox[index].estado = estado; // Si ya existe, actualizamos el estado
              formData.set(id,estado);
            } else {
              listcheckbox.push({ id, estado }); // Si no existe, lo añadimos
              formData.append(id,estado);
            }
          });
        });
        
      form.addEventListener("submit", (event) => {
        event.preventDefault();
         fetch(form.action, {
          method: form.method || "POST",
          body: formData,
        }).then(response => response.json())
          .then(data => { console.log("Enviado:", data);})
          .catch(error => {console.error("Error:", error);})
        });
    </script>
  </body>
</html>
